#game {
    height: 300px;
    width: 300px;
    background-color: tomato;
}

.block {
    border: 1px solid white;
    height: 100px;
    width: 100px;
    float: left;
    box-sizing: border-box;
    text-align:  center;
    line-height: 100px;
    font-size: 50px;
}
